@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-primary: #FFF;
    --color-secondary: #070707;
    --color-secondary-light: #202020;
    --color-secondary-light-light: #6D6D6D;

    --color-accent: #825FE3;
    --color-accent-dark: #6536e6;
    /* --color-accent: deepPink; */
    /* --color-accent: Tomato; */
    /* --color-accent: SpringGreen; */

    /* --color-primary: #070707;
    --color-secondary: white; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.special {
    color: var(--color-accent)
}

/* NAVIGATION SECTION */

#nav-container {
    background-color: var(--color-secondary-light);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

nav h1 a {
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--color-primary);
    transition: 0.3s ease-in-out;
}

nav h1 a:hover {
    color: var(--color-accent);
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: none;
}

nav ul li {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 0;
}

nav ul li a {
    color: var(--color-primary);
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--color-accent)
}

nav img {
    height: 4rem;
    width: 5rem;
    padding: 0 1rem;
}

/* HEADER SECTION */

header {
    height: 95vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    margin: 7vh 0;
    font-weight: bold;
}

header p {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10vh;
}

#header-resume-button {
    background: var(--color-accent);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    width: 10rem;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
}

#header-resume-button:hover {
    background-color: var(--color-accent-dark);
    cursor: pointer;
}

#header-resume-button a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary);
}

#scroll-down-button {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 10vh;
    margin: 0 auto;
}

/* PROJECT SECTION */

#project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
}

#project-section-title {
    text-align: center;
    font-size: 2rem;
    margin: 5rem 0 2rem;
}

.project {
    background-color: var(--color-secondary-light);
    color: var(--color-primary);
    margin-bottom: 2rem;
    border-radius: 2rem;
    max-width: 30rem;
}

.project-image {
    width: 100%;
    height: 15rem;
    border-radius: 2rem 2rem 0 0;
    background-image: url(images/sample-project.jpg);
    background-position: center;
}

/* used to darken the project image */
.image-cover {
    width: 100%;
    height: 100%;
    border-radius: 2rem 2rem 0 0;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
}

.project-title {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.project p {
    font-weight: bold;
    text-align: center;
    padding: 0 1rem 1rem;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: var(--color-secondary-light-light);
}

.project-tool-list {
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}

.project-tool-list img {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0 0.2rem;
}

.project-details-button {
    background-color: var(--color-accent);
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.5rem 0 1rem;
    color: var(--color-primary);
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    transition: 0.3s ease-in-out;
}

.project-details-button a {
    color: var(--color-primary);
}

.project-details-button:hover {
    background-color: var(--color-accent-dark);
    cursor: pointer;
}

/* CONTACT SECTION */

#contact-section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#contact-container p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

#contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    width: auto;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 0.6rem;
    color: var(--color-primary);
    font-weight: bold;
    width: 20rem;
    margin: 0.3rem; 
    background-color: var(--color-secondary-light);
    border: none;
    border-radius: 0.2rem;
}

textarea {
    resize: none;
}

#contact-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-github, .fa-linkedin {
    color: var(--color-primary);
    padding: 0 0.75rem 2rem;
    transition: 0.3s ease-in-out;
}

.fa-github:hover, .fa-linkedin:hover {
    color: var(--color-accent)
}

/* FOOTER SECTION */

footer {
    background-color: var(--color-secondary-light);
    padding: 0.75rem 1rem;
    font-weight: bold;
    text-align: center;
}

footer p {
    padding: 0 2.5rem;
}

/* MEDIA QUERIES */

/* smaller screen devices */

@media (max-height: 750px) {
    #scroll-down-button { display: none; }
}

@media (max-width: 350px) {
    input[type="text"],
    input[type="email"],
    textarea {
        width: 17rem;
    }
}

/* medium screen devices */

@media (min-width: 600px) {
    nav ul { display: flex; }

    nav h1 a { font-size: 1.5rem; }

    nav img { display: none; }
    
    header h1 { font-size: 4.5rem; }
    
    header p { font-size: 1.75rem; }

    #header-resume-button { transform: scale(1.25); }

    #project-section-title { font-size: 3rem; }

    .project { max-width: 40rem; }

    .project-title { font-size: 2rem; }

    .project p { font-size: 1rem; }

    .project-tool-list img { width: 2rem; height: 2rem; }

    .project-details-button { transform: scale(1.25); margin-bottom: 1.7rem; }

    #contact-section-title { font-size: 4rem; }

    #contact-container p { font-size: 1.5rem; }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 40rem;
        font-size: 1.4rem;
        padding: 0.8rem;
    }

    /* TODO: update linkedin and github sized by adding/removing the sizing classes with JavaScript */

    footer { padding: 1rem 9rem; }

    footer p { font-size: 1.5rem; }
} 

/* large screen devices */

@media (min-width: 1500px) {

    nav,
    header, 
    #project-container,
    #contact-container { 
        max-width: 1500px; 
        margin: 0 auto; 
    }

    header h1 { font-size: 6rem; }

    header p { font-size: 3rem; }

    #header-resume-button { transform: scale(1.4); }

    #project-item-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .project {
        margin-bottom: 0.5rem;
        /* padding: 0; */
    }
}